<!DOCTYPE html>
<html>
<head>
    <title>Workout Tracker</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <header>
        <h1>Workout Tracker</h1>
    </header>
    <main>
        <div class="center">
            <img src="/images/placeholder.jpg" alt="Workout Image">
        </div>
        <div class="links">
            <a href="login">Login</a>
            <a href="signUp">Signup</a>
        </div>
    </main>
    <script src="/js/main.js"></script>
</body>
</html>
